runtime: nodejs12

instance_class: F2

env_variables:
  HOST: "0.0.0.0"
  NODE_ENV: "production"
  DATABASE_NAME: <<db_name>>
  DATABASE_USERNAME: "postgres"
  DATABASE_PASSWORD: <<db_password>>
  INSTANCE_CONNECTION_NAME: <<instance_name>>

beta_settings:
  cloud_sql_instances: <<instance_name>>
